body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.padre {
  border: solid orange 6px;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hijo {
  border: solid blue 4px;
  width: 30%;
  height: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.madre {
  border: solid purple 6px;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.hija {
  border: solid pink 4px;
  width: 30%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.nieto {
  border: solid aquamarine 2px;
  width: 20%;
  height: 20%;
}
